---
import MoveRight from "@/assets/icons/MoveRight.svg";
---

<section class="w-full mt-40 lg:pt-28">
    <div class="relative w-full rounded-2xl overflow-hidden">
        <div class="absolute inset-0 bg-[#002884] opacity-80 z-10"></div>

        <video
            class="w-full h-150 lg:h-screen object-cover"
            src="/bg-video.webm"
            preload="auto"
            muted
            loop
            playsinline
            aria-hidden="true"
            autoplay></video>

        <div
            class="absolute z-20 inset-0 flex flex-col justify-center items-center text-center px-4 md:px-0 lg:mt-20 2xl:pt-20"
        >
            <p
                class="mb-10 text-white text-3xl max-w-5xl md:text-5xl lg:max-w-6xl lg:text-6xl font-medium text-balance drop-shadow-md"
            >
                Una empresa especializada en tecnología de hormigón y soluciones
                estructurales. Construimos bases donde la calidad y la
                eficiencia perduran, abriendo camino a la innovación y al
                desarrollo de grandes proyectos.
            </p>

            <a
                href="/contact"
                class="text-sm lg:text-base inline-block bg-white text-secondary font-medium px-4 py-2 lg:px-4 lg:py-2 rounded-full hover:bg-gray-100 transition shadow-lg group"
                >Contactanos
                <MoveRight
                    class="inline-block ml-2 group-hover:translate-x-1 duration-75"
                />
            </a>
        </div>
    </div>
</section>
