---
import PlayButton from "@/assets/icons/playButton.svg";
import PrevButton from "@/assets/icons/prevButton.svg";
import NextButton from "@/assets/icons/nextButton.svg";

const slidesData = [
    {
        src: "/images/slider_1.webp",
        alt: "Worker with safety equipment",
        category: "Insight",
        title: "Health & Safety: From First Page to Industry Standard",
    },
    {
        src: "/images/slider_2.webp",
        alt: "Construction project",
        category: "Innovation",
        title: "Advanced Technology in Construction Projects",
    },
    {
        src: "/images/slider_3.webp",
        alt: "Construction project",
        category: "Innovation",
        title: "Sustainable Building Practices",
    },
];
---

<section
    class="bg-[#e8ecf5] h-[450px] md:h-[500px] lg:h-[820px] rounded-2xl mt-2 lg:pt-6 lg:mt-6 w-full mx-auto pb-10"
>
    <div
        class="pt-28 md:pt-[174px] pb-0 md:pb-[70px] md:max-w-[1340px] lg:max-w-[1600px] mx-auto md:px-5 lg:px-5"
    >
        <header
            class="text-[#0032A0] text-4xl sm:text-4xl md:text-6xl font-medium tracking-tighter leading-normal md:leading-20 mx-4 md:mx-0 mt-10 lg:mt-0"
        >
            <span class="font-bold">Construimos</span> Sobre <br /> Relaciones
            <span class="font-bold">Sólidas</span>
        </header>
    </div>

    <div class="w-full mx-auto md:pl-20 px-5 flex justify-center items-center">
        <section
            class="splide w-full h-60 md:h-[470px] rounded-xl overflow-hidden"
            aria-label="Proyectos Destacados"
        >
            <div class="splide__track h-full">
                <ul
                    class="splide__list h-full flex items-center gap-0 md:gap-6"
                >
                    <li
                        class="splide__slide relative flex items-center justify-center"
                    >
                        <video
                            class="w-[360px] md:w-[400px] lg:w-[900px] lg:h-[470px] object-cover rounded-xl"
                            src="/postesados_hero.webm"
                            muted
                            loop
                            playsinline
                            autoplay></video>
                        <div
                            class="absolute inset-0 flex items-center justify-center"
                        >
                            <button
                                class="bg-white/90 hover:bg-white w-16 h-16 rounded-full flex items-center justify-center shadow-lg"
                            >
                                <PlayButton />
                            </button>
                        </div>
                    </li>

                    {
                        slidesData.map((slide) => (
                            <li class="splide__slide relative flex items-center justify-center ">
                                <div class="w-[360px] h-[200px] md:w-[400px] lg:w-[900px] lg:h-[470px] rounded-xl relative overflow-hidden group">
                                    <div class="absolute inset-0 bg-black/40" />
                                    <img
                                        src={slide.src}
                                        alt={slide.alt}
                                        class="w-full h-full object-cover mix-blend-overlay transform transition-transform duration-500 group-hover:scale-110"
                                    />

                                    <div class="absolute inset-0 p-8 flex flex-col justify-center text-white">
                                        <div class="mb-6 translate-y-10 md:translate-y-24">
                                            <span class="bg-[#0032A0] text-white px-4 py-2 rounded-full text-sm font-medium inline-flex items-center ">
                                                {slide.category ===
                                                    "Insight" && (
                                                    <span class="w-2 h-2 bg-white rounded-full mr-2" />
                                                )}
                                                {slide.category}
                                            </span>
                                        </div>
                                        <h3 class=" md:text-4xl font-bold leading-tight mb-4 translate-y-10 md:translate-y-28">
                                            {slide.title}
                                        </h3>
                                    </div>
                                </div>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </section>
    </div>

    <div
        class="flex items-center justify-center mt-6 gap-9 bg-[#e7ecf6] rounded-full w-56 py-1.5 mx-auto"
    >
        <button
            id="prevBtn"
            class="bg-white/90 hover:bg-white text-gray-800 p-2 rounded-full shadow-lg transition-all duration-200 cursor-pointer"
        >
            <PrevButton />
        </button>

        <div class="flex space-x-2">
            <button
                class="dot w-3 h-3 bg-[#0032A0] rounded-full transition-opacity duration-200"
                data-slide="0"></button>

            {
                slidesData.map((_, index) => (
                    <button
                        class="dot w-3 h-3 bg-gray-300 rounded-full transition-opacity duration-200"
                        data-slide={index + 1}
                    />
                ))
            }
        </div>

        <button
            id="nextBtn"
            class="bg-white/90 hover:bg-white text-gray-800 p-2 rounded-full shadow-lg transition-all duration-200 cursor-pointer"
        >
            <NextButton />
        </button>
    </div>
</section>

<script>
    import Splide from "@splidejs/splide";
    import "@splidejs/splide/css";

    document.addEventListener("DOMContentLoaded", () => {
        const splide = new Splide(".splide", {
            type: "loop",
            autoplay: true,
            interval: 5000,
            arrows: false,
            pagination: false,
            perPage: 2,
            perMove: 1,
            breakpoints: {
                1024: {
                    perPage: 2,
                },
                820: {
                    perPage: 1,
                },
                768: {
                    perPage: 2,
                    gap: "1rem",
                },
                480: {
                    perPage: 1,
                },
                430: {
                    perPage: 1,
                },
            },
        }).mount();

        // Custom navigation logic
        const prevBtn = document.getElementById("prevBtn");
        const nextBtn = document.getElementById("nextBtn");
        4;
        const dots = document.querySelectorAll(".dot");

        prevBtn?.addEventListener("click", () => splide.go("<"));
        nextBtn?.addEventListener("click", () => splide.go(">"));

        dots.forEach((dot, index) => {
            dot.addEventListener("click", () => splide.go(index));
        });

        splide.on("moved", (newIndex) => {
            // Ajustamos el índice porque Splide en modo Loop clona slides y el índice puede ser confuso
            // Usamos la propiedad 'length' de los dots para mantener el modulo correcto
            const activeIndex = newIndex % dots.length;

            dots.forEach((dot, index) => {
                if (index === activeIndex) {
                    dot.classList.remove("bg-gray-300");
                    dot.classList.add("bg-[#0032A0]");
                } else {
                    dot.classList.remove("bg-[#0032A0]");
                    dot.classList.add("bg-gray-300");
                }
            });
        });
    });
</script>
