---
import PlayButton from "@/assets/icons/playButton.svg";
import PrevButton from "@/assets/icons/prevButton.svg";
import NextButton from "@/assets/icons/nextButton.svg";

const slidesData = [
    {
        src: "/images/HERO_IMAGES/planta-de-tratamiento-de-agua.webp",
        alt: "Ingenieros supervisando tanques de concreto en una planta de tratamiento hídrico.",
        category: "Postensado",
        title: "Planta de tratamiento de agua",
    },
    {
        src: "/images/HERO_IMAGES/construccion-puente.webp",
        alt: "Vista aérea de la estructura de un puente en fase de armado sobre un río rodeado de árboles.",
        category: "Inyección",
        title: "Construcción de puente sobre río",
    },
    {
        src: "/images/HERO_IMAGES/instalacion-tuberia-rio.webp",
        alt: "Vista aérea de la instalación de una gran tubería verde sobre una estructura metálica que cruza un río, con maquinaria de construcción y trabajadores",
        category: "Prefabricados",
        title: "Cruce aéreo de tubería",
    },
];
---

<section
    class="bg-[#e8ecf5] h-113 md:h-125 lg:h-188 rounded-2xl mt-2 lg:pt-6 lg:mt-6 w-full mx-auto pb-10"
>
    <div
        class="pt-28 md:pt-44 pb-0 md:pb-18 md:max-w-335 lg:max-w-400 mx-auto md:px-5 lg:px-5"
    >
        <header
            class="text-[#0032A0] text-4xl sm:text-4xl md:text-6xl font-medium tracking-tighter leading-normal md:leading-20 mx-4 mt-10 lg:mt-0"
        >
            <span class="font-bold">Construimos</span> el Futuro <br /> Sobre Bases
            <span class="font-bold">Sólidas</span>
        </header>
    </div>

    <div class="w-full mx-auto md:pl-20 px-5 flex justify-center items-center">
        <section
            class="splide w-full h-60 md:h-100 rounded-xl overflow-hidden"
            aria-label="Proyectos Destacados"
        >
            <div class="splide__track h-full">
                <ul
                    class="splide__list h-full flex items-center gap-0 md:gap-6"
                >
                    <li
                        class="splide__slide relative flex items-center justify-center"
                    >
                        <video
                            class="w-full h-50 md:h-100 object-cover rounded-xl"
                            src="/postesados_hero.webm"
                            muted
                            loop
                            playsinline
                            autoplay></video>
                        <div
                            class="absolute inset-0 flex items-center justify-center"
                        >
                            <button
                                class="bg-white/90 hover:bg-white w-16 h-16 rounded-full flex items-center justify-center shadow-lg"
                            >
                                <PlayButton />
                            </button>
                        </div>
                    </li>

                    {
                        slidesData.map((slide) => (
                            <li class="splide__slide relative flex items-center justify-center ">
                                <div class="w-full h-50 md:h-100 rounded-xl relative overflow-hidden group">
                                    <div class="absolute inset-0 bg-black/20" />
                                    <img
                                        src={slide.src}
                                        alt={slide.alt}
                                        class="w-full h-full object-cover mix-blend-overlay transform transition-transform duration-400 group-hover:scale-110"
                                    />

                                    <div class="absolute inset-0 p-8 flex flex-col justify-center text-white">
                                        <div class="mb-6 translate-y-10 md:translate-y-24">
                                            <span class="bg-[#0032A0] text-white px-4 py-2 rounded-full text-sm font-medium inline-flex items-center ">
                                                {/* Lógica para destacar categorías específicas si es necesario */}
                                                {slide.category ===
                                                    "Infraestructura" && (
                                                    <span class="w-2 h-2 bg-white rounded-full mr-2" />
                                                )}
                                                {slide.category}
                                            </span>
                                        </div>
                                        <h3 class=" md:text-4xl font-bold leading-tight mb-4 translate-y-10 md:translate-y-28">
                                            {slide.title}
                                        </h3>
                                    </div>
                                </div>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </section>
    </div>

    <div
        class="flex items-center justify-center mt-6 gap-9 bg-[#e7ecf6] rounded-full w-56 py-1.5 mx-auto"
    >
        <button
            id="prevBtn"
            class="bg-white/90 hover:bg-white text-gray-800 p-2 rounded-full shadow-lg transition-all duration-200 cursor-pointer"
        >
            <PrevButton />
        </button>

        <div class="flex space-x-2">
            <button
                class="dot w-3 h-3 bg-[#0032A0] rounded-full transition-opacity duration-200"
                data-slide="0"></button>

            {
                slidesData.map((_, index) => (
                    <button
                        class="dot w-3 h-3 bg-gray-300 rounded-full transition-opacity duration-200"
                        data-slide={index + 1}
                    />
                ))
            }
        </div>

        <button
            id="nextBtn"
            class="bg-white/90 hover:bg-white text-gray-800 p-2 rounded-full shadow-lg transition-all duration-200 cursor-pointer"
        >
            <NextButton />
        </button>
    </div>
</section>

<script>
    import Splide from "@splidejs/splide";
    import "@splidejs/splide/css";

    document.addEventListener("DOMContentLoaded", () => {
        const splide = new Splide(".splide", {
            type: "loop",
            autoplay: true,
            interval: 5000,
            arrows: false,
            pagination: false,
            fixedWidth: "711px",
            height: "400px",
            perMove: 1,
            gap: "1.5rem",
            padding: { left: 0, right: "8%" },
            breakpoints: {
                768: {
                    fixedWidth: "360px",
                    height: "200px",
                    gap: "1rem",
                },
            },
        }).mount();

        const prevBtn = document.getElementById("prevBtn");
        const nextBtn = document.getElementById("nextBtn");

        const dots = document.querySelectorAll(".dot");

        prevBtn?.addEventListener("click", () => splide.go("<"));
        nextBtn?.addEventListener("click", () => splide.go(">"));

        dots.forEach((dot, index) => {
            dot.addEventListener("click", () => splide.go(index));
        });

        splide.on("moved", (newIndex) => {
            const activeIndex = newIndex % dots.length;

            dots.forEach((dot, index) => {
                if (index === activeIndex) {
                    dot.classList.remove("bg-gray-300");
                    dot.classList.add("bg-[#0032A0]");
                } else {
                    dot.classList.remove("bg-[#0032A0]");
                    dot.classList.add("bg-gray-300");
                }
            });
        });
    });
</script>
